@model TurboRango.Web.Models.AvaliacaoViewModel

@{
    ViewBag.Title = "Cadastrar";
}
@Scripts.Render("~/bundles/min")
<div class="panel panel-default">
    <h2>Cadastrar Avaliação</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Avaliacao</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Media, htmlAttributes: new { @class = "control-label col-md-2", @type ="date" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Media, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Media, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Data, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.Data)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RestauranteId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RestauranteId, new SelectList(ViewBag.Restaurantes, "Id", "Nome"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RestauranteId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Listar", "Index")
    </div>
</div>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR"
        }); //Initialise any date pickers
    });
</script>