@model TurboRango.Dominio.Avaliacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Avaliacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Media)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Media)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        @*<dt>
            @html.displaynamefor(model => model.idrestaurante)
        </dt>

        <dd>
            @html.displayfor(model => model.idrestaurante)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
