@using TurboRango.Dominio
@using TurboRango.Dominio.Utils

@model Restaurante

@{
    ViewBag.Title = "Detalhes do Restaurante";
}
<div class="panel panel-default">
    <h2>Detalhes</h2>

    <div>
        <h4>Restaurante</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Capacidade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Capacidade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @{
                    var enumDescription = Model.Categoria.GetDescription<Categoria>();
                }
                @Html.DisplayFor(model => enumDescription)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Contato)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Localizacao)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Listar", "Index")
    </p>
</div>