@using TurboRango.Web.Controllers;
@{
    ViewBag.Title = "Index";
    //ViewBag.QtdRestaurantes += 1;
}

<h2>Com fome?</h2>

<h3>Sorteando entre @ViewBag.QtdRestaurantes restaurantes...</h3>
@*<h3>@(SorteiosController.GetIluminismo() + 1)</h3>*@

@section Scripts {
@Scripts.Render("~/bundles/haversine")
<script>
    var qtdRestaurantes = @ViewBag.QtdRestaurantes;
    //alert(qtdRestaurantes);

    navigator.geolocation.getCurrentPosition(
        function success(resultado) {

            var posicaoAtual = resultado.coords;

            $.get('@Url.Action("Restaurantes", "Restaurantes")')
                .done(function(response) {

                    response.restaurantes.sort(function(r1, r2) {

                        if (r1.Localizacao !== null && r2.Localizacao !== null) {
                            var distancia1 = haversine(posicaoAtual, { latitude: r1.Localizacao.Latitude, longitude: r1.Localizacao.Longitude }, {unit: 'km'});
                            var distancia2 = haversine(posicaoAtual, { latitude: r2.Localizacao.Latitude, longitude: r2.Localizacao.Longitude }, {unit: 'km'});
                            return distancia1 > distancia2;
                        }
                    });

                    console.log(response.restaurantes);
                });
        },
        function error(err) {
            console.error(err);
        },
        { enableHighAccuracy: true, timeout: 5000, maximumAge: 0 }
    );


</script>
}