@using TurboRango.Web.Controllers;
@{
    ViewBag.Title = "Index";
    //ViewBag.QtdRestaurantes += 1;
}

<h2>Com fome?</h2>

<h3>Sorteando entre @ViewBag.QtdRestaurantes restaurantes...</h3>
@*<h3>@(SorteiosController.GetIluminismo() + 1)</h3>*@

@section Scripts {
@Scripts.Render("~/bundles/haversine")
<script>
    var qtdRestaurantes = @ViewBag.QtdRestaurantes;
    //alert(qtdRestaurantes);

    navigator.geolocation.getCurrentPosition(
        function success(resultado) {

            var posicaoAtual = resultado.coords;

            $.get('@Url.Action("Restaurantes", "Restaurantes")')
                .done(function(response) {
                    response.restaurantes.forEach(function(r) {

                        if (r.Localizacao !== null) {
                            var distancia = haversine(posicaoAtual, { latitude: r.Localizacao.Latitude, longitude: r.Localizacao.Longitude }, {unit: 'km'});
                            console.log(r.Nome, distancia);
                        }

                    });
                });
        },
        function error(err) {
            console.error(err);
        },
        { enableHighAccuracy: true, timeout: 5000, maximumAge: 0 }
    );


</script>
}